.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.rating li {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.rating li.filled {
  color: #fd0;
}
.rating.readonly li.filled {
  color: #666;
}

/*
.fa.fa-star{
    -webkit-transform:scale(0.9);
}
.fa.fa-star:hover {
    
    color:darkorange;
}

.fa.fa-star:nth-child(2n+1):hover{
    -webkit-transform:scale(1.2);
}

*/