<div class="row card text-center" style="padding:10px">
            <div class="col-xs-5  col-sm-3 col-md-4 inline">
            <img id="profilePhoto" class='img img-circle img-responsive inline '  src="imgs/me.jpg"/>
            <span class="bold">Wojciech Połowniak</span>
                </div>
            <div id="descMe" class="inline col-xs-12 col-sm-9 col-md-8">
                
                <p>Functionite</p>
                <p>Web Development</p>
                <p>Organizacja wydarzeń</p>
                <p>TeachMeWeb, Arduino.NET</p>
        </div>        
</div>