<div class="container-fluid text-center row social">
    <a href="http://www.twitter.com/wopolow" class=' col-xs-3'>
        <img class="img img-responsive inline social-icon" src="imgs/social/twitter.png"/>
    </a>

    <a href="http://www.github.com/Worie" class=' col-xs-3'>
        <img class="img img-responsive inline social-icon" src="imgs/social/github.png"/>
    </a>

    <a href="http://www.pinterest.com/wopolow/" class=' col-xs-3'>
        <img class="img img-responsive inline social-icon" src="imgs/social/pinterest.png"/>
    </a>

    <a href="mailto:wojciech.polowniak@gmail.com" class=' col-xs-3'>
        <img class="img img-responsive inline social-icon" src="imgs/social/email.png"/>
    </a>
                
</div>