<h1>Generator pytań</h1>

<img src="{{article.img}}" class="img img-responsive"/>
Generator średniej stworzony przy użyciu Bootstrapa oraz jQuery. Pobiera on listę pytań z pliku data.json i przetwarza tak aby można było manipulować poziomem trudności pytania oraz jego kategorią. 
Pytania zostają "wczytane" z tablicy w losowej kolejności, po czym wylosowane pytanie zostaje z niej usunięte. Cały proces odbywa się w pamięci przeglądarki a pliki data.json pozostaje nienaruszony, dzięki czemu po odświeżeniu strony ponownie mamy dostęp do wszystkich pytań.



<br/><br/><br/>
<span class="bold">Status prac nad projektem: </span> Zawieszone
<br/><a href="{{article.externalUrl}}">Przejdź do projektu</a>