<h1>Witajcie na TeachMeWeb! </h1>


<h3>Słowo wstępu</h3>
<p>Na tej stronie zamieszczane będą moje projekty, narzędzia a także inicjatywy które wspieram bądź te w których biorę udział. Jest to moje zarówno moje portfolio jak i blog, jednak przedewszystkim pragnę aby było to miejsce w którym będę mógł się dzielić nabytą przeze mnie wiedzą z mniej doświadczonymi web-developerami (również tymi, którzy dopiero pragną rozpocząć swoją przygodę z tworzeniem stron WWW).</p>

<h3>O stronie</h3>

<h4>Pasek nawigacji</h4>
<p> W skrócie chciałbym wam przedstawić funkcjonalność witryny, tak abyście mogli jak najwygodniej z niej korzystać. W pasku nawigacyjnym na górze strony znajduje się logo TeachMeWeb , które przeniesie was do strony głównej witryny. Kolejnym ważnym elementem jest pasek wyszukiwania. Jeśli korzystacie z wersji desktopowej witryny, wystarczy , że zaczniecie wpisywać szukaną frazę, a wasze zapytanie zostanie zapisane w polu wyszukiwania, nie ma więc konieczności klikania w same pole. Znajdziecie tam również komunikat związany z polityką COOKIES
</p>

<h4>Galeria</h4>
<p>Galeria jest to poglądowy spis lekcji, możecie operować strzałkami aby wybrać interesującą was lekcje, oraz potwierdzić enterem aby się do niej przenieść. Na urządzeniach mobilnych slidery są niewidoczne. </p>

<h4>COOKIES</h4>
<p>Na tej witrynie przechowywane są dane takie jak ostatnio przeglądany artykuł, przeczytane artykuły czy informacje o preferowanym przez was motywie. Służą one jedynie waszej wygodzie, tak abyście otrzymywali informacje jedynie o nowych wpisach na blogu, mogli kontynuuować ostatnio przeglądaną lekcję bądź zdecydować który motyw witryny odpowiada wam najbardziej</p>

<h4>Stopka</h4>
<p>Poza informacjami o autorze, znajdziecie też tam możliwość wyboru motywu kolorystycznego witryny. Dostarczone są dwa motywy - standardowy oraz nocny. Motyw nocny jest utrzymany w ciemnej kolorystyce, bez rażących kolorów. Domyślnie motyw nocny aktywowany jest od godziny 21 czasu waszej przeglądarki i jest dostępny do godziny 6. Oczywiście wybierając konkretny motyw wyłączacie tą funkcjonalność. Informacje o waszym wyborze przechowywane są w localStorage</p>
