

<h1> Main page </h1>
Superowo jest jak wszystko Ci dziala<br/>



Wyrównaj każdy bzdet<br/>
Obramowania fix (nie kazda rozdzialka pasi)<br/>

Ładowanie kolejnych artykułów<br/>
Responsywny tekst<br/>
Ekran ładowania <br/>
Wywal jQuery gdzie sie da (ng-keydown, everything what you can do with just angular)<br/>
Local storage dla slajdów i gwiazdek <br/>
Zmien podejście do search (wywal return false)<br/>
Ładowanie artykułów z pliku JSON / mongo.db

<gist id="9397f4e3af19f355c290"></gist>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Velit possumus ingeniis. Senserit dolor probant cernantur de est quorum enim 
multos aliquip ut legam voluptate de relinqueret, ea legam ad noster. Ad nostrud 
firmissimum. Laboris in ipsum. Quis eu do sint fabulas, ubi cillum et veniam in 
nostrud enim quamquam de voluptate nulla commodo litteris. Id anim cernantur 
illustriora. In ex quem amet quis, aut quae nescius aliquip e quamquam hic anim 
id iis esse varias legam quamquam.

